body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #fcfbf4;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

form {
  text-align: center;
}

img {
  object-fit: scale-down;
  max-width: 300px;
  max-height: 400px;
}

.memeTextFormat {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: red;
  -webkit-text-stroke: 0.75px black;
  text-align: center;
  align-items: center;
}

.topTextPosition {
  position: absolute;
  width: 100%;
  top: 10px;
}

.bottomTextPosition {
  position: absolute;
  width: 100%;
  bottom: 10px;
}

.memeDiv {
  position: relative;
}

.deleteButton {
  border: none;
  background: transparent;
}
