body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: whitesmoke;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  text-align: center;
}

form {
  text-align: center;
}

img {
  object-fit: scale-down;
  max-width: 300px;
  max-height: 400px;
}

.memeTextFormat {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 24px;
  font-weight: bolder;
  color: white;
  inline-size: 300px;
  overflow-wrap: break-word;
  -webkit-text-stroke: 0.75px black;
  text-align: center;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
}

.topTextPosition {
  position: absolute;
  width: 100%;
  top: 0px;
}

.bottomTextPosition {
  position: absolute;
  width: 100%;
  bottom: 5px;
}

.memeParentDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.memeChildDiv {
  position: relative;
}

.deleteButton {
  border: none;
  background: transparent;
  padding-bottom: 15px;
}
