/* 
Why is this here?

* {
 box-sizing: border-box;
}

:focus {
  TODO
}
 */

body {
  background-image: linear-gradient(
    to right,
    rgba(245, 202, 30, 255),
    rgba(224, 84, 0, 255)
  );
}

/* 
Why is this here?
input {
  TODO  
}
*/

.search-container-wrapper {
  top: 50vh;
  position: relative;
  display: grid;
  gap: 0px;
}

.search-container {
  align-self: center;
  justify-self: center;
}

.search-container input,
.search-container .suggestions {
  color: black;
  opacity: 0.5;
}

/*
Why is this here?
.search-container input {
  TODO
}
*/

.search-container .suggestions {
  max-height: 30vh;
  overflow-y: scroll;
  scrollbar-color: orange transparent;
  scrollbar-arrow-color: orange;
  scrollbar-width: thin;
}

ul {
  padding: 0px 0px;
  margin: 0px 0px;
  background-color: white;
}

/* 
Why is this here? 
ul.has-suggestions {
  TODO
}
*/

ul li {
  list-style-type: none;
  text-align: left;
}

ul li:hover {
  background-color: rgba(224, 84, 0, 255);
  color: white;
  font-weight: bold;
}
